# Ambiente virtual
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Arquivos de log
*.log

# Arquivos temporários
*.pyc
__pycache__/

# Arquivos de cache do transformers/huggingface
*.lock
*.DS_Store
.cache/
.huggingface/

# VSCode
.vscode/
